
#main {
    width: 60%;
    margin: auto;
}
#main h2 {
    color: #f2be1a;
}

.row {
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.row p, .row strong {
    width: 100%;
    text-align: center;
    transform: translateY(45%);
}
.row img {
    max-width: 20%;
}
button {
    width: 50%;
    color: #be1622;
    border: 2px solid #be1622;
    background-color: white;
    height: 25%;
    border-radius: 5px;
    transition-duration: 0.5s;
    display: inline-block;
}
button:hover {
    background-color: #be1622;
    color: white;
}
.removeContainer {
    width: 100%;
    display: flex;
    margin: auto 0;
    justify-content: space-around;
}