/*
    Author: Will Corkill
    Name: index.css
    Last Accessed: 20/12/2021
    Description: Style the index.html webpage.
*/
#main { /* The div has horizontal margins set to auto & width set to place it in the middle. */
    margin: auto;
    width: 60%;
}
h1 { /* The vertical margins are manipulated to make the primary heading more prominent on the page. */
    color: #34516c;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
#main h2 { /* Set all subtitles with a yellow colour from the given colour scheme */
    position: static;
    color: #f2be1a;
}
/* The rest of the CSS is used to properly size the YouTube iFrame. */
#yt_iframe {
    position: relative;
    width: 80%;
    height: 0%;
    padding-bottom: 50%;
}
#yt_embed {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border: none;
}
/*
Change content width on mobile-size devices
*/
@media screen and (max-width: 480px) {
    #main {
        width: 80%;
    }
}