
img:not(#uclan_logo) {
    width: 100%;
}
#main { /* Make a single column in the centre of the page to place all main content */
    width: 80%;
    margin: auto;
    margin-bottom: 2.5%;
}
/* Set the style of the product containers */
.productContainer {
    width: 100%;
    margin: 1.5%;
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
}
.productContainer h2 {
    color: #f2be1a;
    margin: 0% 5%;
}
.productContainer h2:not(:last-of-type) {
    margin-top: 5%;
}
.productDescription {
   font-size: 0.8em;
   margin-left: 5%;
   margin-right: 5%;
   text-align: justify; 
}
.productPrice {
    margin-left: 5%;
    padding-right: 100%;
}
#purchase_input {
    width: 25%;
    display: block;
    margin: 5% auto 5%;
    color: #be1622;
    border: 2px solid #be1622;
    background-color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
}
#purchase_input:hover {
    background-color: #be1622;
    color: white;
}
#main a {
    font-size: 0.8em;
    margin-left: 5%;
}
.new_line::after { /* https://www.educative.io/edpresso/how-to-add-a-line-break-using-css */
    content: "\a\a";
    white-space: pre;
}

/* Next, define the tablet bahaviour */
@media screen and (max-width: 768px) {
    .productContainer {
        width: 40%;
        border: 2px solid #f3f3f3;
        background-color: #f3f3f3;
    }
}

/* Finally, define the mobile behaviour */
@media screen and (max-width: 480px) {
    .productContainer {
        width: 100%;
        border: 2px solid #f3f3f3;
        background-color: #f3f3f3;
    }
}