
img:not(#uclan_logo) {
    width: 100%;
}
#quick_scroller {
    width: 100%; /* Preserve the list of products by manually setting the width to 100% */
}
#main {
    width: 75%;
    margin: auto;
}
#Hoodie, #Jumper, #Tshirt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
/* Set the style of the product containers */
.productContainer {
    width: 25%;
    margin: 1.5%;
    border: 2px solid #f3f3f3;
    background-color: #f3f3f3;
}
.productContainer h2 {
    color: #f2be1a;
    margin: 0% 5%;
}
.productContainer h2:not(:last-of-type) {
    margin-top: 5%;
}
.productDescription {
   font-size: 0.8em;
   margin-left: 5%;
   margin-right: 5%;
   text-align: justify; 
}
.productPrice {
    margin-left: 5%;
    padding-right: 100%;
}
#purchase_input {
    width: 25%;
    display: block;
    margin: 5% auto 5%;
}
/*
This section of CSS will be used to style the
button which will scroll to the top of the page
when pressed by the end-user.
*/
#top_scroller {
    border-radius: 50%; /* Used to make the button round */
    padding: 2%; /* Padding is needed to make the button more prominent */
    background-color: #577a9b;
    position: fixed; /* A fixed position is used to keep the button on the screen at all times */
    left: 10px; /* A static unit of measurement has been used as only a small inset is required */
    top: 45%; /* Dictate how far from the top of the screen the button should be placed */
    color: white;
}